.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

.clock {
  background-color: chocolate;
  width: 150px;
  height: 50px;
  padding-top: 20px;
  font-size: x-large;
  color: white;
}
